<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- latest -->
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="./styles/style.css" rel="stylesheet">
    
</head>
<body>
    

    </div>
    <div class="stars">
        <div class="titulo nes-container is-dark is-rounded with-title">
            <h1 class="title">Afonso</h1>
            <p>Olá! Bem vindo ao meu website. </p>
            <div class="header-menu">
                <label>
                  <input type="radio" class="nes-radio is-dark" name="answer-dark" checked />
                  <span><a href="/" style="color:white;">Home</a></span>
                </label>
              
                <label>
                  <input type="radio" class="nes-radio is-dark" name="answer-dark" />
                  <span>Link2</span>
                </label>
                <label>
                    <input type="radio" class="nes-radio is-dark" name="answer-dark" />
                    <span>Link3</span>
                  </label>
              </div>
        </div>    
    </div>
    
    <div class="main">
        <div class="container">
            <div class="content nes-container is-dark is- with-title">