</div>
<div class="sidebar nes-container is-dark is-rounded with-title">
    <h1 class="title">Posts</h1>
    <ul>
        <% for(let i=0;i<posts.length;i++) {%>
            <li><a href="/post?id=<%= posts[i].id %>"><%= posts[i].title %></a></li>
        <% } %>
    </ul>
    </div>
</div>

</div>


<footer>
</footer>

</body>
<script src="./scripts/main.js" charset="utf-8"></script>
</html>